<html>
  <head>
    <title>Generated on <%= @date_generated %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

    <script type="text/javascript">
      <%= render "partials/rotateTableCellContent.js" %>
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
          $('.table').rotateTableCellContent();
          });
    </script>

    <style>
      <%= render "partials/style.css" %>
    </style>
  </head>
  <body>

    <h1>Generated on <%= @date_generated %></h1>

    <table id="report-table" class="table">
      <thead>
        <tr>
          <th>Month</th>
          <% @all_skus.each do |sku| %>
            <th class="vertical"><%= BookCultureLib::AmazonOrder.order("purchase_date ASC").where("sku = :sku", {:sku => sku}).last[:product_name][0..45] %></th>
          <% end %>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <% @all_skus.each do |sku| %>
            <th><a class="tooltip">?<span><%= sku %></span></a></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @days.each do |day| %>
        <tr>
          <th><%= day[:date].strftime("%Y-%m") %></th>
          <% @all_skus.each do |sku| %>
            <% if day[:quantities][sku] == 0 %>
              <td class="zero">0</td>
            <% else %>
              <td><%= day[:quantities][sku] %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

  </body>
</html>
