<html>
  <head>
    <title>Generated on <%= @date_generated %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

    <script type="text/javascript">
      <%= render "partials/rotateTableCellContent.js" %>
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
          $('.table').rotateTableCellContent();
          });
    </script>

    <style>
      <%= render "partials/style.css" %>
    </style>
  </head>
  <body>

    <h1>Generated on <%= @date_generated %></h1>

    <table class="table">
      <%= render "partials/thead.html.erb" %>
      <%= render "partials/tbody.html.erb" %>
      <tfoot>
        <tr>
          <th>Total</th>
          <% @products.each do |product| %>
            <td><%= product[:total] %></td>
          <% end %>
        </tr>
      </tfoot>
    </table>

  </body>
</html>
