<html>
  <head>
    <title>Generated on <%= @date_generated %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

    <script type="text/javascript">
      <%= render "partials/rotateTableCellContent.js" %>
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
          $('.table').rotateTableCellContent();
          });
    </script>

    <style>
      <%= render "partials/style.css" %>
    </style>
  </head>
  <body>

    <h1>Generated on <%= @date_generated %></h1>

    <table class="table">
      <tr>
        <th>Year</th>
        <% @all_skus.each do |sku| %>
          <th class="vertical"><%= sku %></th>
        <% end %>
      </tr>
      <% @days.each do |day| %>
        <tr>
          <th><%= day[:date].strftime("%Y") %></th>
          <% @all_skus.each do |sku| %>
            <% if day[:quantities][sku] == 0 %>
              <td class="zero">0</td>
            <% else %>
              <td><%= day[:quantities][sku] %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

  </body>
</html>
